<!doctype html>
<html lang="en" ng-app="angularTodo">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Shopping List</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
		<style>
			body {
			background: url(http://ilv-pullzone1.ilovevegan.netdna-cdn.com/wp-content/uploads/2014/04/Groceries-04-19-14-2-1280.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			}
			h1 {
				color: #e0eff2;
				font: italic bold 60px Georgia, Serif;
				text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
			}
			#shopElement {
				color: #e0eff2;
				font: italic bold 50px Georgia, Serif;
				text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
				padding-bottom: 20px;
				display: inline-block;
			}
			.total {margin:20px 0 40px 0;}
		</style>
	</head>
	<body ng-controller="mainController">
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Shopping List </h1>
			</div>
			<div class="large-12 medium-12 total">
				<span class="label label-info text-center">Koliko je vseh izdelkov: {{ todos.length }}</span>
			</div>
			<!--Seznam-->
			<div id="todo-list" class="row">
				<div class="large-4 medium-4 columns">
					<div class="checkbox" ng-repeat="todo in todos">
						<label>
							<input type="checkbox"
							ng-click="deleteTodo(todo._id)">
							<span id="shopElement">{{ todo.text }}</span>
						</label>
					</div>
				</div>
			</div>
			<!--Insert new element-->
			<div id="todo-form" class="row">
				<div class="large-12 medium-12 small-12 text-center">
					<form name="frm">
						<div class="form-group">
							<input type="text" class="form-control input-lg text-center"
							placeholder="Dodaj novi izdelek"
							ng-model="formData.text" required>
						</div>
						<button class="button round" ng-disabled="frm.$invalid" ng-click="createTodo()">Dodaj</button>
					</form>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>